.volunteer-item {
  padding-bottom: 50px;
  color: #fbf1c7;
  font-size: 1.2em;
}

.open-source-item {
  color: #fbf1c7;

  .open-source-link-list {
    font-size: 1.2em;
    li {
      padding-bottom: 10px;
    }
  }
}
