.dark .training {
  color: #fbf1c7;
}

.light .training {
  color: #222222;
}

.training {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
}
