body {
  background-color: #222222 !important;
}

.ui.site.container {
  padding-top: 20px;
  padding-bottom: 100px;
}

.page-header {
  margin-bottom: 60px !important;
  .page-header-content {
    margin-top: 20px;
    font-size: 1.5em;
  }
}
