body {
  background-color: #222222 !important;
  font-family: "Jost", sans-serif !important;
  color: #fbf1c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif !important;
  color: #fbf1c7 !important;
}

.ui.site.container {
  padding-top: 20px;
  padding-bottom: 100px;
}

.page-header {
  line-height: 1.8em !important;
  margin-bottom: 60px !important;
  .page-header-content {
    margin-top: 20px;
    font-size: 1.5em;
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
