html,
body,
#root {
  height: 100%;
}

.body {
  font-family: "Jost", sans-serif !important;
  min-height: 100%;
}

.body.dark {
  background-color: #222222 !important;
  color: #fbf1c7;
}

.body.light {
  color: #222222 !important;
  background-color: #f9f5d7;
}

.body.dark h1,
.body.dark h2,
.body.dark h3,
.body.dark h4,
.body.dark h5,
.body.dark h6 {
  font-family: "Jost", sans-serif !important;
  color: #fbf1c7 !important;
}

.body.light h1,
.body.light h2,
.body.light h3,
.body.light h4,
.body.light h5,
.body.light h6 {
  font-family: "Jost", sans-serif !important;
  color: #222222 !important;
}

.ui.site.container {
  padding-top: 20px;
  padding-bottom: 100px;
}

.page-header {
  line-height: 1.8em !important;
  margin-bottom: 60px !important;
  .page-header-content {
    margin-top: 20px;
    font-size: 1.5em;
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
