.blog-list {
  ul {
    list-style: none;
  }

  .blog-item {
    font-size: 1.4em;
    margin-bottom: 15px;
    .blog-date {
      font-size: 0.6em;
      position: relative;
      top: -2px;
    }
  }
}

.dark .blog-date {
  color: #ccc;
}

.light .blog-date {
  color: #222;
}
