.blog-list {
  ul {
    list-style: none;
  }

  .blog-item {
    font-size: 1.4em;
    margin-bottom: 15px;
    .blog-date {
      color: #ccc;
      font-size: 0.6em;
      position: relative;
      top: -2px;
    }
  }
}
