.volunteer-item {
  padding-bottom: 50px;
  font-size: 1.2em;
}

.dark .open-source-item,
.dark .volunteer-item {
  color: #fbf1c7;
}

.light .open-source-item,
.light .volunteer-item {
  color: #222;
}

.open-source-link-list {
  font-size: 1.2em;
  li {
    padding-bottom: 10px;
  }
}
